<ul>
    <li><a class="home" href="/"><i class="fa fa-fw fa-home"></i>Home</a></li>
    <li><a  class ="aboutme" href="/aboutme">About Me</a></li>
    <li><a class="projects" href="/projects">Projects</a></li>
    <li><a class="services" href="/services">Services</a></li>
    <li><a class="contactme" href="/contactme"><i class="fa fa-fw fa-envelope"></i>Contact Me</a></li>
    <li style="float: right;padding-top: 3px;padding-right: 1%;"><img src="/images/1.jpg" alt="Image Load Error" width="50" height="50" ></li>   
    
     </ul>

  
  