
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/head'); %> 
  </head>
  <body>
    <%- include('./partials/header'); %> 

    <h1 class="services_heading">        CONTACT ME !!</h1>
        <div>
     
            <div class="container-fluid mt-3 contact_box" >

            <div class="row g-3 about_box">
    
                <div class="col-md-6">
    
                    <div class="form-floating">
    
                        <input type="text" class="form-control border-0 bg-secondary" id="name" placeholder="Your Name">
    
                        <label for="name" style="display: none;">Your Name</label>
    
                    </div>
    
                </div>
    
                <div class="col-md-6">
    
                    <div class="form-floating">
    
                        <input type="email" class="form-control border-0 bg-secondary" id="email" placeholder="Your Email">
    
                        <label for="email" style="display: none;">Your Email</label>
    
                    </div>
    
                </div>
    
                <div class="col-12">
    
                    <div class="form-floating">
    
                        <input type="text" class="form-control border-0 bg-secondary" id="subject" placeholder="Subject">
    
                        <label for="subject" style="display: none;"> Subject</label>
    
                    </div>
    
                </div>
    
                <div class="col-12">
    
                    <div class="form-floating">
    
                        <textarea class="form-control border-0 bg-secondary" placeholder="Leave a message here" id="message" style="height: 200px"></textarea>
    
                        <label for="message" style="display: none;">Message</label>
    
                    </div>
    
                </div>
    
                <div class="col-12">
    
                    <button class="btn btn-primary w-100 py-3" type="submit" id="submit_contact">Send Message</button>
    
                </div>
    
            </div>
    
            </div>

            <footer id="footer">
                <%- include('./partials/footer'); %> 
            </footer>
        </body>
        </html>
    
     
    
    

        
