<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/header.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header'); %> 

        <div>
      <h2 class="home_heading"> !!!!Let's build something great togather !!!!

      </h2>
      <p class="home_para"> I am Krupa Patel, a  Toronto based Junior Web Developer focused on crafting clean & user- friendly expereinces!!!!
        
      </p>
      
    </div>
    <footer id="footer">
      <%- include('./partials/footer'); %> 
    </footer>
    
  </body>
</html>
