
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/head'); %> 
  </head>
  <body>
    <%- include('./partials/header'); %> 
          <h1 class="home_heading"> I am Krupa Patel, a  Toronto based Junior Web Developer and this is my personal web portfolio!!
      </h1>
      <style>
        h1{text-align: center; padding-top: 50px;}
    </style>           
    </div>

    <footer id="footer">
      <%- include('./partials/footer'); %> 
    </footer>
    
  </body>
</html>
