<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/header.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header'); %> 

        <div>
      <h2 class="services_heading"> !!!! Services which I offer !!!!

      </h2>
      <p class="home_para"> ONLINE STRATEGY - The foundation to any successful business starts with a rock solid plan of action.       </p>

                            
        <p class="home_para">                    DESIGN & DEVELOPMENT - Beautifully handcrafted customised websites with optimal performance</p>


          <p class="home_para">                    DIGITAL MARKETING -  Provide framework to maximize business productivity       </p>


            <p class="home_para">                   MOBILE & APPS - Customised Mobile apps as per client's requirements

                                  
      </p>
      
    </div>
    <footer id="footer">
        <%- include('./partials/footer'); %> 
    </footer>
    
  </body>
</html>
