
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/head'); %> 
  </head>
  <body>
    <%- include('./partials/header'); %> 
          <div>
      <h2 class="services_heading"> !!!! Services which I offer !!!!
        </h2>
      <p class="home_para"> ONLINE STRATEGY - The foundation to any successful business starts with a rock solid plan of action.       </p>

                            
        <p class="home_para">                    DESIGN & DEVELOPMENT - Beautifully handcrafted customised websites with optimal performance</p>


          <p class="home_para">                    DIGITAL MARKETING -  Provide framework to maximize business productivity       </p>


            <p class="home_para">                   MOBILE & APPS - Customised Mobile apps as per client's requirements

                                  
      </p>
      
    </div>
    <footer id="footer">
        <%- include('./partials/footer'); %> 
    </footer>
    
  </body>
</html>
