/* File Name-style.css, Student name- Patel Krupa Manilal, Student ID:301246257, Course code- COMP229*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:blue;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(17, 17, 17);
}

.active {
  background-color: #4c04aa;
}

#footer {
 
  font-family: 'Arial Bold', sans-serif;
  font-size: large;
  font-weight: bolder;
    bottom: 0;
    text-align:center;
 }  
 
 #footer1 {
 
  font-family: 'Arial Bold', sans-serif;
  font-size: large;
  font-weight: bolder;
    text-align:right;
    bottom: 0;
    padding-top:207px
 } 

 body {
  background-image: url('/images/ben-kolde-bs2Ba7t69mM-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: contain;
}

.home_heading{
  padding-left: 36%;
  padding-bottom: 10%;
  text-align: center;
  font-size: 31px;
  color: #4c04aa;
  font-family: 'Arial Bold', sans-serif;
}

.about_heading{
  padding-left: 36%;
  font-size: 31px;
}

.home_para {
  padding-left: 36%;
  font-size: 25px;
   font-family: 'Arial Bold', sans-serif;
};
  

.services_heading{
  padding-left: 100%;
  font-size: 30px;
  text-align: right;
}


.about{
  padding-left: 40%;
}

service-item {

  padding: 30px;

  text-align: center;

  font-size: 32px;

  background: var(--secondary);

}

.service-item i {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2F2F2;
  color:#00B87B;
  transition: .5s;
}

.box_gap{
  padding-top: 3%;
}

.box{
  height: 300px;
  width: 500px;
  margin-top: 10px;
}

.service-item {
  padding: 30px;
  text-align: center;
  background: var(--secondary);
}

.form-floating>.form-control, .form-floating>.form-select {

  height: calc(3.5rem + 2px);

  padding: 1rem 0.75rem;

}

.bg-secondary {

  background-color: #314355 !important;

}

 

.border-0 {

  border: 0 !important;

}



.form-control {

  display: block;

  width: 100%;

  padding: 0.375rem 0.75rem;

  font-size: 1rem;

  font-weight: 400;

  line-height: 1.5;

  color: #eee;

  background-color: #fff;

  background-clip: padding-box;

  border: 1px solid #ced4da;

  appearance: none;

  border-radius: 0;

  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;

}

 

.btn-primary:hover {

  color: #000;

  background-color: blue;



}


.btn.btn-primary {

  color: #FFFFFF;

}

 

.btn-primary {

  color: #fff;

  background-color: blue !important;

}

.contact_box{
  padding-left: 40%;
  padding-right: 20%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    rgb(252, 248, 252);
}
:-moz-placeholder { /* Mozilla Firefox  */
 color:    rgb(252, 248, 252);
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    rgb(252, 248, 252);
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:   rgb(252, 248, 252);
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    rgb(252, 248, 252);
}

::placeholder { /* Most modern browsers support this now. */
 color:    rgb(252, 248, 252) !important;
}


.project {
  background-color: var(--bg-color);
  padding: 32px;
  margin-top: 2rem;
  margin-left: 700px;  
  font-family: 'Arial Bold', sans-serif;
  font-size: 20px;
}

.project-pic {
  width: 40%;
  height: 40%;
}

.projects-container {
  display: absolute;
  align-items: right;
  justify-content: right;
  padding-right: 50px;
}

.services_heading {
  padding: 32px;
  margin-top: 2rem;
  margin-left: 700px; 
}

.aboutme_heading{
  padding: 32px;
  margin-top: 2rem;
  margin-left: 700px;  
}

/* Login form and Businesscontact page related style details */

.login-header {  
  align-items: right;
  justify-content: right;
  text-align: right;
  padding-top: 10px;
  padding-right:80px;

}
.login-form{
margin-right: 10;
margin-bottom: 26px;
padding-left: 1300px;
max-width:1000px;
}

.form_control-login{
background-color: #3b423b;
height: 40px;
}

.button {
  background-color: #3b423b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
  }
  table {
  border-collapse: collapse;
  width: 70%;
  color: #fff;
  background-color: blue !important;
  }
  
  .table-data{
  position: right;
  left:50px;
  padding-left: 600px;
  top:70px;
  padding-top:50px;
  
  }
  th, td {
  padding: 15px;
  }
  /* The Modal (background) */
  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content */
  .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding:0%;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
  }
  /* Add Animation */
  @-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
  }
  @keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
  }
  /* The Close Button */
  .close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }
  .close:hover,
  .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }
  .modal-header {
  padding: 2px 16px;
  background-color: #26c38f;
  color: white;
  }
  .modal-body {padding: 2px 16px;}